@font-face {
    font-family: "IRANSans-web";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/IRANSansWeb(FaNum).eot");
    src: url("fonts/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),
        url("fonts/IRANSansWeb(FaNum).woff2") format("woff2"), url("fonts/IRANSansWeb(FaNum).woff") format("woff"),
        url("fonts/IRANSansWeb(FaNum).ttf") format("truetype");
}

body {
    direction: rtl !important;
}

.sans {
    font-family: "IRANSans-web";
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.rounded-5px {
    border-radius: 5px;
}

.border-15px {
    border: 1.5px solid #d3d2d8;
}

.rounded-m {
    border-radius: 0.5rem !important;
}

.rounded-x {
    border-radius: 0.7rem !important;
}

.rounded-xl {
    border-radius: 0.9rem !important;
}
.rounded-xxl {
    border-radius: 50px;
}
.pointer {
    cursor: pointer !important;
}

.bold {
    font-weight: 800 !important;
}

.dark-irancell {
    background-color: #f0eff5;
}
.blue-irancell {
    background-color: #dfefff;
}
.irancell-yellow-background {
    background-color: #ffcc00;
}
.irancell-red-background {
    background-color: #ff3b30;
}
.irancell-blue-background {
    background-color: #007aff;
}
.irancell-blue-text {
    color: #007aff;
}
.irancell-white-background {
    background-color: #ffffff;
}
.bg-black {
    background-color: black;
}
.app-shadow {
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.3);
}
.no-ouline {
    outline: none !important;
}
.no-filter {
    filter: none !important;
    filter: blur(0) !important;
}
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.english-font {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.font-weight-800 {
    font-weight: 800;
}
.font-size-8 {
    font-size: 8px !important;
}
.font-size-9 {
    font-size: 9px !important;
}
.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-19 {
    font-size: 19px;
}
.font-size-20 {
    font-size: 20px;
}
.color-dark {
    color: darkgray;
}
.line-through {
    text-decoration: line-through;
}
.irancell-red {
    color: #ff3b30;
}
::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border: 0px none #a3a3a3;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #a3a3a3;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}
