.add-to-cart label {
    font-size: 11px;
    font-weight: 800;
}

.add-to-cart a {
    font-size: 11px;
    font-weight: 800;
    text-decoration: underline;
    margin-right: 10px;
}

.add-to-cart p.text-muted {
    font-size: 11px;
    font-weight: 800;
    color: darkgray !important;
}

.add-to-cart span.fa-warning {
    font-size: 14px !important;
}

.add-to-cart button {
    border: none;
    background-color: #ffcc00;
    border-radius: 50px;
    padding: 5px 5px 5px 15px;
    font-weight: 800;
    font-size: 12px;
    outline: none !important;
    cursor: pointer;
}

.add-to-cart button:hover {
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
}

.add-to-cart button label {
    margin-bottom: 0;
    background-color: white;
    border-radius: 50px;
    margin-left: 10px;
    padding: 5px 6px;
}

.add-to-cart button i {
    font-size: 14px;
}

.add-to-cart .call {
    background-color: #e0efff;
    font-size: 10px;
    padding: 10px 15px 30px 15px;
    font-weight: 800;
    border-radius: 5px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .add-to-cart {
        padding: 2rem !important;
    }
}

@media (max-width: 768px) {
    .add-to-cart {
        padding: 1rem !important;
    }
}
