.auction {
    background-image: linear-gradient(to bottom, rgba(255, 191, 0, 0.5), rgb(255, 192, 3, 1));
    height: 100%;
    padding: 15px 30px 20px 30px;
    position: relative;
}

.auction .logo {
    width: 70px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.auction .number {
    font-size: 23pt;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.auction .timer .list-inline-item {
    margin: 0 5px;
}
.auction .timer .list-inline-item label {
    margin: 0;
    display: block;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #fee388;
}
