.btn-irancell {
    border: none;
    padding: 12px 60px;
    border-radius: 50px;
    font-weight: 800;
    font-size: 13px;
    width: 100%;
    outline: none !important;
    cursor: pointer;
    height: 40px;
}

.btn-irancell.yellow {
    background-color: #ffcc00;
}

.btn-irancell.dark {
    background-color: #d2d1d7;
}

.btn-irancell:hover {
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, .5);
}