    .cart .text {
        font-size: 11px;
        background-color: #deeefe;
        padding: 20px;
        border-radius: 7px;
        font-weight: 800;
        line-height: 25px;
    }
    
    .cart .total-price {
        background-color: #f0eff5;
        padding: 30px;
        border-radius: 7px;
        font-size: 13px;
        font-weight: 700;
    }
    
    .cart .total-price .total {
        font-size: 17px;
        font-weight: 800;
    }
    
    .cart .total-price .discount {
        color: #fc635e;
    }
    
    .cart .total-price button.continue-purchase {
        border: none;
        padding: 12px 60px;
        background-color: #ffcc00;
        border-radius: 50px;
        font-weight: 800;
        font-size: 13px;
        width: 100%;
        margin-top: 15px;
    }
    
    .cart-items table {
        width: 100%;
    }
    
    .cart-items table thead tr {
        border-bottom: 3px solid rgb(228, 228, 228);
    }
    
    .cart-items table thead tr th {
        text-align: center;
        font-size: 12px;
        color: darkgray;
        padding-bottom: 10px;
    }
    
    .cart-items table thead tr th:first-child {
        text-align: right;
    }
    
    .cart-items table tr td {
        border-bottom: 1px solid rgb(226, 226, 226);
        padding: 25px;
        text-align: center;
    }
    
    .cart-items table tr td:first-child {
        text-align: right;
        display: flex;
        padding: 18px 0 18px 18px;
    }
    
    .cart-items table tr td:first-child p:first-child {
        font-size: 12px;
        font-weight: 800;
    }
    
    .cart-items table tr td:first-child p:last-child {
        font-size: 10px;
        font-weight: 800;
        color: darkgray;
    }
    
    .cart-items table tr td img {
        width: 80px;
        height: 80px;
    }
    
    .cart-items table tr td.price span:first-child {
        font-weight: 800;
        font-size: 14px;
        margin-left: 5px;
    }
    
    .cart-items table tr td.price span:last-child {
        font-size: 10px;
        font-weight: 800;
    }
    
    .cart-items table tr td .remove {
        font-weight: 100;
        color: darkgray;
    }
    
    .responsive-cart .title {
        font-size: 12px;
        font-weight: 800;
    }
    
    .responsive-cart .package {
        font-size: 11px;
        color: darkgray;
    }
    
    .responsive-cart .price {
        font-size: 11px;
        font-weight: 800;
        margin-bottom: 0;
        padding: 5px 0 0 0;
        color: #fc635e;
    }
    
    .responsive-cart .remove {
        position: absolute;
        left: 10px;
        bottom: -5px;
        margin-bottom: 0;
    }
    
    @media(min-width: 992px) {
        .cart .row:last-child {
            margin-top: 4rem;
        }
        .responsive-cart {
            padding: 10px 5px;
        }
    }
    
    @media(max-width: 992px) {
        .cart .row:last-child {
            margin-top: .8rem;
        }
        .responsive-cart {
            padding: 10px 5px;
        }
    }