.count-button {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    border: 2px solid darkgray;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    vertical-align: middle !important;
    font-size: 11px;
    padding: 2px;
    color: darkgray;
    cursor: pointer;
    margin: 0;
}

.count-button span {
    vertical-align: middle !important;
}