.charge-invoice {
    background-color: #f0eff5;
    border-radius: 7px;
    padding: 7px;
}
.charge-invoice .title {
    background-color: white;
    border-radius: 6px;
    height: 40px;
    font-weight: 800;
    font-size: 13px;
    padding: 10px;
}
.charge-invoice .body {
    padding: 16px;
}
