.custom-control.custom-checkbox {
    padding-left: 0;
    padding-right: 1.5rem;
    display: inline-block;
}
.custom-control-label::before {
    right: 0 !important;
}
.custom-control-label::after {
    right: 0 !important;
}
.custom-control-label {
    line-height: 24px;
}
@media (max-width: 474px) {
    .custom-control-label {
        font-size: 10px !important;
    }
}
