.irancell-collapse .collapsed{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}
.irancell-collapse .collapsed.active {
    max-height: 2000px;
    transition: max-height 0.25s ease-in;
}

.irancell-collapse .fa-angle-down {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
}
.irancell-collapse .fa-angle-up {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 1px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
}
