.contact-info.comment {
    background-color: #ffdcda;
    padding: 15px;
    text-align: right;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}
.contact-info.comment p:first-child{
    font-size: 12px;
    font-weight: 800;
    line-height: 25px;
    margin-bottom: 0;
}
.contact-info.comment p:last-child{
    font-size: 11px;
    margin-bottom: 0;
    line-height: 20px;
}