.dark-select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: url("/img/caret.svg");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 14px;
    background-size: 11px;
    height: 40px;
}
