.dark-input {
    position: relative;
    height: 40px;
}
.dark-input label {
    position: absolute;
    left: 3px;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    top: 3px;
    padding: 7px 15px;
    color: darkgray;
    font-size: 13px;
    margin: 0;
    height: 34px;
}
.dark-input input {
    border-radius: 50px;
    background-color: #f0eff5;
    width: 100%;
    border: none;
    font-size: 13px;
    padding: 5px 15px;
    outline: none;
    color: rgb(80, 80, 80);
    height: 40px;
    font-weight: 800;
}
.dark-input input::placeholder {
    color: rgb(138, 138, 138);
    font-weight: 100 !important;
}
