.irancell-datepicker {
    width: 100%;
    border-radius: 5px;
    position: relative;
    border-radius: 5px;
    background-color: white;
    height: 50px;
    border: 2px solid white;
    outline: none;
    text-align: right !important;
}

.DatePicker {
    width: 100%;
    border: none;
    outline: none !important;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    text-align: right;
    height: 100%;
    z-index: 0 !important;
}

.DatePicker input {
    border: none;
    width: 100%;
    padding: 0;
    height: 100%;
    outline: none;
    text-align: right;
    font-size: 13px;
    font-weight: 800;
    padding: 17px 15px 5px 10px;
}

.DatePicker input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
}

.irancell-datepicker label {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    color: darkgray;
    top: 15px;
    right: 15px;
    transition: all .1s !important;
}

.irancell-datepicker label.active {
    font-size: 9px;
    top: 5px;
    font-weight: 100;
}

.irancell-datepicker span.fa {
    color: rgb(255, 133, 133);
    position: absolute;
    left: 10px;
    top: 14px;
    font-size: 20px;
}

div.irancell-datepicker.invalid {
    border: 2px solid rgb(255, 133, 133);
}

.irancell-datepicker-message {
    font-size: 12px;
    color: #e84f41;
}