.irancell-drp {
    height: 50px;
    display: block;
    border: none;
    background-color: white;
    border-radius: 5px;
    position: relative;
    outline: none;
}

div.irancell-drp.invalid {
    border: 2px solid rgb(255, 133, 133);
}

.irancell-drp.blue {
    background-color: #007aff;
}

.irancell-drp.blue span.drp-title {
    color: rgb(228, 228, 228);
    font-weight: 400;
}

.irancell-drp.blue span.fa {
    color: rgb(228, 228, 228);
}

.irancell-drp span.fa {
    color: darkgray;
    position: absolute;
    left: 15px;
    top: 17px;
}

.irancell-drp span.drp-title {
    position: absolute;
    right: 15px;
    top: 16px;
    font-size: 12px;
    font-weight: 400;
    color: darkgray;
}

.irancell-drp ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0;
    position: absolute;
    top: 48px;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 9999;
    max-height: 200px;
    overflow: scroll;
    border: 0;
}

.irancell-drp ul li {
    list-style: none;
    text-align: right;
    padding: 10px 15px;
    display: block;
    margin-right: 4px;
    font-size: 12px;
    font-weight: 800;
    color: darkgray;
}

.irancell-drp ul li:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    color: black;
}