.banks {
    border-radius: 100px;
    width: 45px;
    height: 45px;
    background-color: #f0eff5;
    display: inline-block;
    padding: 7px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.7;
}
.banks.active {
    background-color: #ffcc00;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 204, 0, 1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(255, 204, 0, 1);
    box-shadow: 0px 0px 2px 1px rgba(255, 204, 0, 1);
}
.banks img {
    width: 30px;
    height: auto;
}
