.header-tabs {}

.header-tabs .card {
    overflow: hidden;
}

.header-tabs .tab {
    border-bottom: 2px solid rgb(240, 240, 240);
}

.header-tabs .flex-fill.active {
    background-color: #fac948;
    font-weight: 800;
    border-left: 0;
    color: black;
}

.header-tabs .flex-fill {
    cursor: pointer;
    color: rgb(146, 146, 146);
    padding: 15px 5px;
    border-left: 2px solid rgb(240, 240, 240);
}

.header-tabs .flex-fill:last-child {
    border-left: 0;
}