.home {
    overflow: hidden;
}
.home .home-banner img {
    width: 100%;
}
.pill-area {
    background: url('/img/header-pills.png');
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 285px !important;
    margin-top: -51px;
    position: relative;

}
.products-area {
    background: url('/img/footer-services.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 0;
    background-position-y: 0;
    height: 550px;
    margin-bottom: 50px;
    padding-top: 60px;
    margin-top: -44px;
}

.pill-area .pills {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
}

.pill-area .pill {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: relative;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
}

.pill-area .pill-1 img {
    width: 23px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pill-area .pill-2 img {
    width: 35px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pill-area .pill-3 img {
    width: 47px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pill-area .pill-4 img {
    width: 40px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pill-area .pill-5 img {
    width: 38px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pill-area .hover:hover > p {
    color: white;
}

.pill-area .hover:hover > .pill {
    background-color: white !important;
    border-spacing: 10px;
    position: relative;
}
.pill-area .hover:hover > .pill::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 100px;
    border: rgb(255, 255, 255) 1px solid;
}

/* @media (min-width: 1024px) {
    .pill-area {
        height: 180px;
        margin: -100px auto;
    }
}
@media (max-width: 1024px) {
    .pill-area {
        height: 130px;
        margin: -100px auto;
    }
}
@media (max-width: 768px) {
    .pill-area {
        height: 100px;
        margin: -100px auto;
    }
}
@media (max-width: 400px) {
    .pill-area {
        height: 50px;
        margin: -50px auto;
    }
} */
