.irancell-input {
    width: 100%;
    border-radius: 5px;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    height: 50px;
    border: 2px solid white;
}

div.irancell-input.active {
    border: 2px solid #80bdff;
}

div.irancell-input.invalid {
    border: 2px solid rgb(255, 133, 133);
}

.irancell-input input {
    border: none;
    outline: none !important;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 17px 15px 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 800;
}

.irancell-input label {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    color: darkgray;
    top: 15px;
    right: 15px;
    transition: all .1s !important;
}

.irancell-input label.active {
    font-size: 9px;
    top: 5px;
    font-weight: 100;
}

.irancell-input span.fa {
    color: rgb(255, 133, 133);
    position: absolute;
    left: 10px;
    top: 14px;
    font-size: 20px;
}

.irancell-input-message {
    font-size: 12px;
    color: #e84f41;
}