.irancell-package-box {
    background: url("/img/package-box-header.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 100%;
    min-height: 216px;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .irancell-package-box {
        background-size: 190px !important;
        width: 190px !important;
    }
}
