.dark-layout {
    background-color: #efeff4 !important;
    min-height: 100vh !important;
    overscroll-behavior-y: contain;
}

.light-layout {
    background-color: white !important;
    min-height: 100vh !important;
    overscroll-behavior-y: contain;
}