.irancell-modal {
    position: fixed;
    top: 40%;
    left: 20%;
    right: 20%;
    z-index: 999;
    transition: all 0.4s;
    border-radius: 0.5rem;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .irancell-modal {
        left: 25%;
        right: 25%;
    }
}

@media (max-width: 1200px) {
    .irancell-modal {
        left: 15%;
        right: 15%;
    }
}

@media (max-width: 768px) {
    .irancell-modal {
        left: 10%;
        right: 10%;
    }
}

@media (max-width: 450px) {
    .irancell-modal {
        left: 5%;
        right: 5%;
    }
}
