.online-charge-banks .box {
    border: 1px solid darkgray;
    padding: 3px;
    border-radius: 4px;
    filter: grayscale(100%);
    opacity: 0.3;
    margin: 0 2px;
}
.online-charge-banks .box.active {
    border: 1px solid #ffcc00;
    padding: 3px;
    border-radius: 4px;
    opacity: 1;
    filter: unset;
}
