.charge-box {
    border: 2px solid #ffd733;
    background-color: #fff7db;
}

.charge-box .dotted::after {
    content: "--------------------------------------";
    color: #ffd733;
    letter-spacing: 4px;
}
.charge-box .footer {
    background-color: #ffe891;
}
