.payment .fa-shopping-cart {
    border-radius: 50px;
    background-color: darkgray;
    width: 34px;
    height: 34px;
    text-align: center;
    padding-top: 7px;
    padding-right: 2px;
    margin-left: 5px;
    background-color: #e6e6e6;
    color: #b6b6b6;
}
.payment .fa-credit-card {
    border-radius: 50px;
    background-color: darkgray;
    width: 34px;
    height: 34px;
    text-align: center;
    padding-top: 8px;
    padding-right: 0px;
    margin-left: 5px;
    background-color: #e6e6e6;
    color: #b6b6b6;
}
.payment .title {
    font-size: 16px;
    font-weight: 800;
}
.payment .type {
    background-color: #f0eff5;
    padding: 2rem;
}
.payment .check {
    border-radius: 50px;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-left: 5px;
    color: #b6b6b6;
    border: 1px solid darkgray;
    vertical-align: middle;
    margin-bottom: 0;
}
.payment .check.active {
    border: 1px solid #0677f9;
}
.payment .check .fa {
    padding-top: 3px;
    color: #0677f9;
}

.payment .box {
    font-size: 13px;
    background-color: #fff9d9;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 50px;
    margin-left: 10px;
}
.payment .box span {
    font-size: 14px;
    font-weight: 800;
}

.payment .pay-by-credit,
.payment .pay-by-credit-card {
    font-size: 13px;
    font-weight: 800;
}
.payment .type .active {
    color: #0677f9;
}
.payment .mellat-logo {
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: 10px;
    padding-top: 4px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 0;
}

.payment .mellat-logo img {
    width: 15px;
}
.payment .discound-box {
    display: block;
    border: 2px solid #d2d1d7;
    border-radius: 50px;
    overflow: hidden;
    height: 45px;
}
.payment .discount-box button {
    border: none;
    white-space: nowrap;
    font-size: 11px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #ffcc00;
    height: 45px;
    font-weight: 800;
    width: 35%;
    outline: none;
    cursor: pointer;
}
.payment .discount-box button:hover {
    background-color: #ebbc00;
}
.payment .discount-box input {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid rgb(221, 221, 221);
    border-left: 0;
    outline: none;
    height: 45px;
    padding: 10px;
    width: 65%;
    font-size: 10px;
    font-weight: 800;
}
