.product-margin {
    margin-bottom: 30px;
}

.product .discount-badge {
    background-color: #ff3b30;
    color: white;
    font-size: 10px;
    height: 22px;
    width: fit-content;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 10px 4px 10px;
}

.product h5 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    height: 60px;
}

.product p {
    opacity: 0.4;
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 5px;
}

.product h4.price {
    text-align: center;
    font-weight: 800;
    padding: 20px 10px;
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 0;
}

.product h4.price span.old-price {
    font-size: 13px;
    font-weight: 800;
    margin-left: 15px;
    color: #ff3b30;
    text-decoration: line-through;
}

.product h4.unavailable {
    color: #ff3b30;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-top: 15px;
    padding: 20px 10px;
    margin-bottom: 0;
}

.product button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 0;
    padding: 10px 50px;
    background-color: #ffcc00;
    font-size: 15px;
    font-weight: 800;
    outline: none !important;
    cursor: pointer;
}

.product button.unavailable {
    display: block;
    border-radius: 20px;
    border: 0;
    padding: 5px 30px;
    background-color: #007aff;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin: 5px auto 5px auto;
}