.product-filter {
    border-radius: 30px !important;
    padding: 0px 50px 0 50px;
}

.product-filter .list-inline-item {
    cursor: pointer;
    border: 0;
    border-radius: 0 !important;
    padding: 15px 10px 12px 10px;
    width: 48%;
    color: darkgray;
    margin-bottom: -1px;
}

.product-filter .list-inline-item.list-active {
    border-bottom: 4px solid #ffcc00 !important;
    color: black;
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .product-filter {
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .product-filter {
        padding: 0 10px;
        font-size: 12px;
    }
}

@media (max-width: 485px) {
    .product-filter {
        padding: 0px 15px;
        font-size: 10px;
    }
    .product-filter .list-inline-item:first-child {
        padding: 15px 5px 11px 5px;
    }
    .product-filter .list-inline-item:last-child {
        padding: 15px 5px 11px 5px;
    }
}

@media (max-width: 412px) {
    .product-filter {
        padding: 0px 15px;
        font-size: 8px;
    }
    .product-filter .list-inline-item:first-child {
        padding: 15px 2px 11px 2px;
    }
    .product-filter .list-inline-item:last-child {
        padding: 15px 2px 11px 2px;
    }
}