.device-detailes p {
    font-size: 12px;
    padding: 0 10px;
}

.device-detailes .text-success {
    font-weight: 800;
    color: #59db6f !important;
}

.device-detailes .price-badge {
    padding: 30px 15px;
    background-color: #efeff4;
    border-radius: 7px;
}

.device-detailes .price-badge span {
    font-size: 10px;
    margin-left: 10px;
}

.device-detailes .footer-badge {
    background-color: #efeff4 !important;
    border-radius: 50%;
    margin-left: 10px;
    vertical-align: middle;
    padding: 14px 15px 14px 13px;
    color: rgb(134, 134, 134);
    width: 45px;
    height: 45px;
    font-size: 16px;
}

.device-detailes .footer-text {
    color: darkgray;
    font-size: 12px;
}

@media (max-width: 1200px) {
    .product-photos-reponsive {
        padding: 1.5rem;
        border-left: 1px solid #dee2e6 !important;
    }
    .device-detailes {
        padding: 1.5rem 1.5rem;
    }
    .product-footer {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 1200px) {
    .product-photos-reponsive {
        padding: 2rem 1.5rem;
        border-left: 1px solid #dee2e6 !important;
    }
    .device-detailes {
        padding: 2.5rem 1.5rem;
    }
    .product-footer {
        position: absolute;
        bottom: 0;
        margin-bottom: 48px !important;
    }
}

@media (max-width: 768px) {
    .product-photos-reponsive {
        padding: 0.5rem;
        border-bottom: 1px solid #dee2e6 !important;
    }
    .device-detailes {
        padding: 1rem;
    }
    .product-footer .list-inline-item {
        margin-right: 0 !important;
    }
    .product-footer .list-inline-item:last-child {
        margin-bottom: 0 !important;
    }
}
