.product-packages .radius {
    border-radius: 0.7rem 0.7rem 0 0 !important;
    overflow: hidden;
    font-size: 13px;
}

.product-packages .text-muted {
    font-size: 12px;
}

.product-packages .simcards {
    background-color: #efeff4;
}

.product-packages .simcards .text {
    font-size: 11px;
    margin-left: 30px;
}

.product-packages .simcards span.price {
    font-weight: 800;
}

.product-packages .sim-price {
    background-color: rgb(255, 236, 200);
    border-radius: 50px;
    padding: 10px;
    font-size: 12px;
}

.product-packages .sim-price i {
    vertical-align: middle;
}

.product-packages .package {
    border-radius: 50px;
    background-color: white;
    padding: 10px;
    position: relative;
}

.product-packages .package.selected {
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 1);
}

.product-packages .package .select {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    border: 1px solid darkgray;
    margin-bottom: 0;
    vertical-align: middle;
    margin-left: 10px;
}

.product-packages .package.selected .select {
    background: #ffcc00 !important;
    border: none;
}

.product-packages .package .title {
    font-size: 11px;
    margin-left: 5px;
    font-weight: 800;
}

.product-packages .package .discount {
    vertical-align: middle !important;
    color: #fe3b30;
    /* margin-left: 20px; */
}

.discount-color {
    color: #fe3b30;
}

.product-packages .package .price {
    font-size: 11px;
    font-weight: 800;
    margin-right: 20px;
}

.product-packages .package .old-price {
    color: darkgray;
    text-decoration: line-through;
    /* margin-left: 20px; */
    font-size: 10px;
    margin-right: 20px;
}

.product-packages .package .package-size {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 9px;
    background-color: #ffcc00;
    border-radius: 50px;
    padding: 9px 1px;
    left: 8px;
    top: 7px;
    font-weight: 800;
    text-align: center;
}

.product-packages .package .package-size span {
    font-size: 7px;
    vertical-align: middle !important;
    margin-left: 1px;
}

@media (min-width: 768px) {
    .product-packages {
        padding: 2rem;
    }
    .product-packages .simcards {
        padding: 2rem 1.5rem 1.5rem 1.5rem;
    }
}

@media (max-width: 767px) {
    .product-packages {
        padding: 1rem;
    }
    .product-packages .simcards {
        padding: 1rem 1rem 0.3rem 1rem !important;
    }
}

@media (max-width: 474px) {
    .product-packages .package .title {
        /* font-size: 11px; */
        font-size: 9px;
        vertical-align: middle;
    }

    .product-packages .package .price {
        /* font-size: 11px; */
        font-size: 9px;
        vertical-align: middle;
        margin-right: 10px;
    }

    .product-packages .package .old-price {
        /* font-size: 10px; */
        font-size: 8px;
        vertical-align: middle;
        margin-right: 10px;
    }

    .product-packages .package .package-size {
        /* font-size: 9px; */
        font-size: 7px;
        vertical-align: middle;
        padding: 11px 1px;
    }
    .product-packages .package .package-size span {
        font-size: 5px;
    }
    .product-packages .simcards {
        padding: 0.5rem 0.5rem 0rem 0.5rem !important;
    }
}
