.product-photos .selected {
    filter: brightness(50%);
}

.product-photos {
    width: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    text-align: center;
}

.product-photos div {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    width: auto;
    border: 1px solid rgb(224, 224, 224);
    padding: 2px;
    width: 70px;
    height: 70px;
    background-size: cover;
}

.product-photos::-webkit-scrollbar {
    display: none;
}