.product-features .text-muted {
    font-size: 12px;
}

.product-features table {
    font-size: 12px;
    width: 100%;
}

.product-features table tr td:first-child {
    width: 20%;
    padding-right: 5px;
}

.product-features table tr td:last-child {
    direction: ltr;
}

.product-features table tr td {
    padding: 5px 0px 5px 20px;
}

.product-features table tr:nth-child(odd) {
    background-color: #efeff4;
}

@media (min-width: 768px) {
    .product-features {
        padding: 2rem !important;
    }
}

@media (max-width: 768px) {
    .product-features {
        padding: 1rem !important;
    }
    .product-features table tr td:first-child {
        width: 40%;
    }
    .product-features table tr td {
        font-size: 10px;
        padding: 5px 5px 5px 15px !important;
    }
}
