.purchase-progress {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 12px;
    margin-bottom: 60px;
}

.purchase-progress .card,
.purchase-progress .list-inline {
    border-radius: 7px;
}

.purchase-progress .list-inline-item {
    padding: 15px 30px;
    margin-right: 0;
    color: #a5a4a9;
}

.purchase-progress .list-inline-item:first-child {
    border-radius: 7px 0px 0 7px;
}

.purchase-progress .list-inline-item:last-child {
    border-radius: 0 7px 7px 0;
}

.purchase-progress .active {
    background-color: #ffcc00;
    font-weight: 800;
    color: black;
}

.purchase-progress .list-inline-item i {
    font-size: 20px;
    vertical-align: middle;
}

@media(max-width: 767px) {
    .purchase-progress {
        margin: 0 0 1.5rem 0;
    }
    .purchase-progress .list-inline-item {
        padding: 15px;
    }
}

@media(max-width: 529px) {
    .purchase-progress {
        margin: 0 0 1.4rem 0;
    }
    .purchase-progress .list-inline-item {
        padding: 15px 10px;
        font-size: 9px;
    }
    .purchase-progress .list-inline-item .fa {
        font-size: 12px;
    }
}