.irancell-radio {
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 12px 0 10px 10px;
    display: flex;
    border-radius: 5px;
}

div.irancell-radio.invalid {
    border: 2px solid rgb(255, 133, 133);
}

.irancell-radio .title {
    margin-left: 40px;
    color: darkgray;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 2px;
}

.irancell-radio ul {
    padding: 0;
    margin-bottom: 0;
}

.irancell-radio ul li {
    list-style: none;
    display: inline;
    padding: 0px 25px;
    vertical-align: middle !important;
    color: darkgray;
    font-size: 12px;
}

.irancell-radio ul li.active label {
    border: 4px solid white;
    background-color: rgb(98, 98, 255);
    ;
}

.irancell-radio ul li label {
    margin-bottom: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    vertical-align: middle;
    margin-top: 3px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 5px;
}