.rounded-input {
    border-radius: 50px;
    border: 2px solid #ffe169;
    display: inline-block;
    position: relative;
    padding: 0 15px 0 30px;
    width: 100%;
    height: 40px;
}

.rounded-input input {
    border: none;
    outline: none;
    padding: 8px 5px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 800;
    width: 100%;
}

.rounded-input label.label {
    position: absolute;
    font-size: 13px;
    margin-bottom: 0;
    right: 10px;
    top: 8px;
    color: darkgray;
    transition: all 0.2s;
    background-color: white;
    padding: 0 5px;
}

.rounded-input.active label.label {
    top: -10px;
    right: 15px;
    font-size: 12px;
}
.rounded-input .inner-item {
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 13px;
    background-color: #f0eff5;
    padding: 6px 15px;
    border-radius: 50px;
}
