.rounded-radio-button .col-4 {
    padding: 0 3px;
}
.rounded-radio-button .box {
    background-color: #f0eff5;
    padding: 9px 13px;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}
.rounded-radio-button .box.active {
    background-color: #ffca08;
}
