.side-navbar {
    position: fixed;
    overflow: hidden !important;
    left: 00;
    top: 0;
    width: 300px;
    transition: 0.3s all;
    background-color: #ffcc00;
    z-index: 999;
    height: 100%;
    padding: 20px 15px 15px 15px;
    border-radius: 0 15px 15px 0;
}

.side-navbar .close {
    position: fixed;
    left: 310px;
    top: 10px;
    color: white;
}

.side-navbar ul.other {
    display: block;
    text-align: center;
    padding-right: 0 !important;
}

.side-navbar ul.other li.nav-item {
    font-size: 13px;
    display: inline-block !important;
    display: inline;
    text-align: center !important;
}

.side-navbar img {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 9999;
}