.special-services .card {
    min-height: 284px;
}
.footer-services{
    background: url('/img/footer-services.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 0;
    background-position-y: 0;
    height: 550px;
    margin-bottom: 10rem;
    padding-top: 80px;
    margin-top: 40px;
}