.subscriber-type .list-inline-item {
    padding: 15px 50px;
    color: darkgray;
    font-size: 12px;
}

.subscriber-type .list-inline {
    border-radius: 50px !important;
}

.subscriber-type .list-inline .list-inline-item:first-child {
    border-radius: 0 50px 50px 0 !important;
}

.subscriber-type .list-inline .list-inline-item:last-child {
    border-radius: 50px 0 0 50px !important;
}

.subscriber-type .list-inline-item.active {
    background-color: #ffcc00;
    font-weight: 800;
    color: black;
}

@media (max-width: 502px) {
    .subscriber-type .list-inline-item {
        padding: 15px 40px;
    }
}