.switch2 {
    transform: rotate(180deg);
}
.switch2 .switch {
    font-size: 1rem;
    position: relative;
}
.switch2 .switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}
.switch2 .switch input + label {
    position: relative;
    min-width: calc(calc(2.375rem * 0.8) * 2);
    border-radius: calc(2.375rem * 0.8);
    height: calc(2.375rem * 0.8);
    line-height: calc(2.375rem * 0.8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
}
.switch2 .switch input + label::before,
.switch2 .switch input + label::after {
    content: "";
    position: absolute;
    top: 0;
    right: 27px;
    width: calc(calc(2.375rem * 0.8) * 2);
    bottom: 0;
    display: block;
}
.switch2 .switch input + label::before {
    right: 0;
    background-color: #dee2e6;
    border-radius: calc(2.375rem * 0.8);
    transition: 0.2s all;
    height: 15px;
    margin-top: 5px;
    width: 45px !important;
    margin-right: 3px;
}
.switch2 .switch input + label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * 0.8) - calc(2px * 2));
    height: calc(calc(2.375rem * 0.8) - calc(2px * 2));
    border-radius: 50%;
    background-color: #c8c7cd;
    transition: 0.2s all;
}
.switch2 .switch input:checked + label::before {
    background-color: #fff2bf;
}
.switch2 .switch input:checked + label::after {
    margin-left: calc(2.375rem * 0.8);
    background-color: #ffcc00;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.4);
}
.switch2 .switch input:focus + label::before {
    outline: none;
}
.switch2 .switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
}
.switch2 .switch input:disabled + label::before {
    background-color: #e9ecef;
}
.switch2 .switch.switch-sm {
    font-size: 0.875rem;
}
.switch2 .switch.switch-sm input + label {
    min-width: calc(calc(1.9375rem * 0.8) * 2);
    height: calc(1.9375rem * 0.8);
    line-height: calc(1.9375rem * 0.8);
    text-indent: calc(calc(calc(1.9375rem * 0.8) * 2) + 0.5rem);
}
.switch2 .switch.switch-sm input + label::before {
    width: calc(calc(1.9375rem * 0.8) * 2);
}
.switch2 .switch.switch-sm input + label::after {
    width: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
    height: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
}
.switch2 .switch.switch-sm input:checked + label::after {
    margin-left: calc(1.9375rem * 0.8);
    right: 2px;
}
.switch2 .switch + .switch {
    margin-left: 1rem;
}
