.tabs.radius {
    border-radius: .7rem .7rem 0 0 !important;
    overflow: hidden;
    font-size: 13px;
}

.tabs .active {
    background-color: #ffcc00 !important;
    color: black !important;
    font-weight: 800;
}

.tabs .nav-link:first-child {
    border-radius: 0 .5rem 0 0;
}

.tabs .nav-link:last-child {
    border-radius: 0 0 0 0;
}