.irancell-toggle-butons .list-inline {
    border-radius: 50px;
    border: 1px solid #e6e6e8;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
}
.irancell-toggle-butons .list-inline .list-inline-item {
    margin: 0;
    padding: 7px 37px !important;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
}

.irancell-toggle-butons .list-inline .list-inline-item.active {
    background-color: #ffcc00;
    border-radius: 50px;
}
