.topnav {
    background-color: #ffcc00;
    position: relative;
    z-index: 1 !important;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.top-font {
    font-weight: 800 !important;
    font-size: 14px;
}

.navbar-nav .nav-link {
    padding-right: 0.8rem !important;
    padding-left: 0.8rem !important;
}

.fa-globe,
.fa-shopping-cart {
    vertical-align: middle;
    font-size: 18px;
}

.cart-counter {
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    color: white;
    padding: 4px 3px 4px 4px;
    font-size: 11px;
    background-color: #ff3b30;
    border-radius: 50%;
}