.transport {
    margin-top: 80px;
}
.transport .title {
    font-weight: 800;
    font-size: 16px;
    color: darkgray;
}
.transport .receipe {
    margin-top: 20px;
    background-color: #cde5ff;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 800;
}
.transport .receipe div {
    vertical-align: middle;
}
.transport .receipe .label {
    vertical-align: middle;
    padding-top: 3px;
}
.transport .custom-control.custom-checkbox {
    padding-left: 0px;
    padding-right: 1.2rem;
}
.transport .custom-control-label::before {
    background-color: white;
}
.transport .card {
    border-radius: 7px;
    border: 1.5px solid #d3d2d8;
}
.transport .card-header {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 0.75rem;
    border-bottom: 1.5px solid #d3d2d8;
}
.transport .card .card-header div.recent-address label {
    margin-bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid darkgray;
    vertical-align: middle;
    text-align: center;
    margin-left: 9px;
}
.transport .card .card-header div.recent-address label.active {
    border: 2px solid #0078f8;
}

.transport .card .card-header div.recent-address label .fa {
    color: #0078f8;
}
.transport .card .card-header div.recent-address {
    font-weight: 800;
    color: darkgray;
    line-height: 32px;
}
.transport .card .card-header div.recent-address.active {
    color: #0078f8;
}
.transport .card .card-header div.send-type {
    color: black;
    font-weight: 800;
    line-height: 32px !important;
}
.transport .card .card-header div.send-type .fa {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    vertical-align: middle;
    background-color: #e6e6e6;
    color: #b6b6b6;
    padding-top: 7px;
    padding-right: 2px;
    text-align: center;
    margin-left: 9px;
}
.transport .card .card-body.address-info {
    background-color: #f0eff5;
    padding: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.transport .card .card-body.send-type-comment {
    padding: 20px 5px;
    background-color: #f0eff5;
}

.transport .card .card-body.send-type-comment p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
}
.transport .card .card-body.send-type-comment .send-cost {
    padding: 10px 20px;
    vertical-align: middle;
    background-color: #a3ffb4;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}
.transport .card .card-body.send-type-comment .send-cost span {
    font-size: 15px;
    font-weight: 800;
}

.transport .card .card-header .btn {
    font-size: 12px;
    font-weight: 800;
}

.transport .card .card-body .box {
    background-color: #e6e5eb;
    padding: 12px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 800;
}

.transport .card .card-body .box span {
    font-weight: 100 !important;
}

@media (max-width: 490px) {
    .transport {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .transport {
        margin-top: 30px;
    }
    .transport .card .card-body.address-info {
        padding: 15px 0 !important;
    }
}
